<div id="<%= dom_id user %>">
  <p>
    <strong>Loginname:</strong>
    <%= user.loginname %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Threlog:</strong>
    <%= user.threLog %>
  </p>

  <p>
    <strong>Reslog:</strong>
    <%= user.resLog %>
  </p>

</div>
