<p style="color: green"><%= notice %></p>

<%= render @thre %>

<div class = "thread_response_form">
  <%= form_for(@response) do |form| %>
    <% if @response.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

        <ul>
          <% @response.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class = "form">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class = "form">
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :context %>
    </div>

    <div class = "form">
      <%= form.hidden_field :time, :value => DateTime.now %>
    </div>

    <div class = "form">
      <%= form.label :image, style: "display: block" %>
      <%= form.file_field :img_path, accept: 'image/jpeg,image/gif,image/png' %>
    </div>

    <%= form.hidden_field :thre_id, :value => @thre.id %>

    <div class = "form">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<div class = "thread_responses">
  <% @thre.response.each do |res| %>
    <hr>
    <div class = "thread_response"><p><%= render res %></p></div>
  <% end %>
</div>

<div class = "back_button">
  <%= link_to "メインを修正", edit_thre_path(@thre) %> |
  <%= link_to "掲示板に戻る", board_path(@thre.board_id) %> |
  <br>
  <%= link_to "ホームに戻る", boards_path %>
  <%= button_to "このスレッドを削除", @board, method: :delete %>
</div>